---
const {claveRvoe, claveEscuela, fechaInscripcion, description, imgConoce} = Astro.props;
---


<div class="container mx-auto mt-16">
    <div class="flex flex-col lg:flex-row gap-6">
        <div class="w-full lg:w-3/5 space-y-8">
            <p class="text-redGRG text-20 font-semibold">CLAVE DE RVOE: {claveRvoe} CLAVE DE ESCUELA: {claveEscuela}</p>
            <p class="font-semibold text-50">Conoce el programa</p>
            <p class="text-20">{description}</p>
            <p class="text-redGRG font-semibold text-3xl">Inscripción: {fechaInscripcion}</p>
        </div>
        <div class="w-full lg:w-2/5">
            <img class="w-full mb-6" src={imgConoce} alt="">
            <button class="call-to-actions-general !w-[85%] block ml-auto uppercase">pre-registrate ahora</button>
            <!-- <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id at autem quisquam, accusamus sint nobis nihil quos voluptate eveniet ducimus!</p> -->
        </div>
    </div>
</div>