---
import "@/assets/css/main.css"

import HeroEscuela from "@/components/escuela/HeroEscuela.astro";
import Footer from "@/components/generics/Footer.astro";
import Layout from "@/layouts/Layout.astro";
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
const escuelas = await getCollection('escuelas')
import FlechaRojaDerecha from '@/assets/icons/flechaRojaDerecha.svg'
import FlechaRojaIzquierda from '@/assets/icons/flechaRojaIzquierda.svg'
import HeroFullHeight from "@/components/generics/HeroFullHeight.astro";
import ModalVideoOferta from "@/components/modales/ModalVideoOferta.astro";
import PlayCircle from "@/assets/icons/Play-circle.svg"

---


<Layout>
    <!-- <HeroEscuela/> -->
     <HeroFullHeight
      title="Nuestras Escuelas"
      description="Conoce nuestras escuelas y descubre la variedad de programas académicos que ofrece cada una. Explora las áreas de estudio, sus planes de formación y las oportunidades que brindan para tu desarrollo profesional. Accede directamente a la información detallada de cada programa y elige el que mejor se adapte a tus objetivos."
      imgBackground="/images/heroEscuela.jpg">

      <button class="call-to-actions-general xl:text-xl flex items-center gap-4" aria-haspopup="dialog" aria-expanded="false" aria-controls="modalOfertaEducativa" data-hs-overlay="#modalOfertaEducativa">Nuestra Oferta Educativa <PlayCircle/></button>

    </HeroFullHeight>
    <div class="container mx-auto my-[8rem] space-y-[8rem]">
        {
            escuelas.map(escuela => (
                <div id={escuela.data.idHTML} class="anchor-target">
                    <div class="flex flex-col lg:flex-row gap-12 mb-10">
                        <Image class="w-full lg:w-[40%] order-2 lg:order-1 h-[95%] object-cover" src={escuela.data.imgSrc} alt={escuela.data.title}/>
                        <div class="w-full lg:w-[60%] order-1 lg:order-2 space-y-10">
                            <h2 class="text-45 font-semibold">{escuela.data.title}</h2>
                            <p class="text-20">{escuela.data.description}</p>
                            <p class="text-redGRG text-30 font-semibold">Conoce Nuestros Programas</p>
                        </div>
                    </div>
                    <div class="splide" id="splideProgramas1" role="group" aria-label="Splide Basic HTML Example">
                        <ul class="splide__pagination"></ul>
                        <div class="splide__track">                        
                            <ul class="splide__list"> 
                                
                                    {
                                        escuela.data.programas.map(programa => (
                                            <li class="splide__slide">
                                                <div class="bg-grayExtra p-4 space-y-4 h-full">
                                                    <p class="text-20">{programa.title}</p>
                                                    <p class="text-20">{programa.description}</p>
                                                    <a href={`/programas/${programa.route}`}  rel="noopener noreferrer" class="text-redGRG font-semibold border-b border-b-redGRG ">¡Conoce más aquí!</a>
                                                </div>
                                            </li>
                                        ))
                                    }
                                
                            </ul>
                        </div>
                    </div>
                    <div class="w-1/4 mx-auto flex justify-between mt-6">                        
                        <button class="btnGoLeft" id="btnnoticiasLeft"><FlechaRojaIzquierda/></button>
                        <button class="btnGoRight" id="btnnoticiasRight"><FlechaRojaDerecha/></button>
                    </div>
                </div>
            ))
        }
    </div>

    <Footer/>
    <ModalVideoOferta/>

    
</Layout>


<script>
    import "@splidejs/splide"
    import '@splidejs/splide/css';

    import Splide from "@splidejs/splide";
    const elms = document.querySelectorAll( '.splide' );

    elms.forEach(element => {
        var carousel = new Splide(element,{
            type: "loop",
            perPage: 2,
            gap: "5rem",
            perMove: 1,
            arrows: false,
            breakpoints: {
                769: {
                    perPage: 1,
                },
                
            }
        }).mount()
        // console.log(element)
        let prevBtn = element.parentElement?.querySelector('.btnGoLeft')
        prevBtn?.addEventListener('click', () => {
            carousel.go('-1')
        })

        let nextBtn = element.parentElement?.querySelector('.btnGoRight')
        nextBtn?.addEventListener('click', () => {
            carousel.go('+1')
        })
    })
    // for ( var i = 0; i < elms.length; i++ ) {
    //     new Splide( elms[ i ],{
    //         perPage: 2,
    //         gap: "5rem",
    //         perMove: 1,
    //         arrows: false,
    //         breakpoints: {
    //             769: {
    //                 perPage: 1,
    //             },
                
    //         }
    //     } ).mount();
    // }

    // const btnsGoLeft = document.querySelectorAll('.btnGoLeft')
    // const btnsGoRight = document.querySelectorAll('.btnGoRight')

    // btnsGoLeft.forEach(btn => {
    //     btn.addEventListener('click', () => {
    //         console.log('clickleft')
    //     })
    // })

</script>